:root{
    --my-box-blu: #1289b2;
    --my-box-green: #08d6a0;
    --my-box-ylw: #FFD166;
    --my-box-purple: #f0466f;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif
}
.wrapper{
    background-color: #083b4b;
}

#boxcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.box{
    width: calc(100% / 7 - 30px);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    transition: all 0.5s;
}
.box:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0 3px white;
}
.box-blue{
    background-color: var(--my-box-blu);
}
.box-green{
    background-color: var(--my-box-green);
}
.box-ywl{
    background-color: var(--my-box-ylw);
}
.box-purple{
    background-color: var(--my-box-purple);
}
